<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px"  fxLayoutGap.xs="0">
    <div [hidden]="dish || errmsg">
        <mat-spinner></mat-spinner> <h4>Loading ...</h4>
    </div>
    <div *ngIf="errmsg">
        <h2>Error</h2>
        <h4>{{errmsg}}</h4>
    </div>
    <div fxFlex="40">
        <mat-card *ngIf="dish">
            <mat-card-header>
                <mat-card-title><h3>{{dish.name | uppercase}}</h3></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseUrl+dish.image}}" alt={{dish.name}}>
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions fxLayout="row"> 
                <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                <span class="flex-spacer"></span>
                <button mat-button (click)="goBack()">Back</button>
                <span class="flex-spacer"></span>
                <button mat-button>Like</button> 
                <span class="flex-spacer"></span>
                <button mat-button>Share</button>                
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="40">
        <mat-list *ngIf="dish">
            <h3>Comments</h3>
            <mat-list-item *ngFor="let comment of dish.comments">
                <p matLine>{{comment.comment}}</p>
                <p matLine>{{comment.author}}</p>
                <p matLine>-- {{comment.date | date}}</p>
            </mat-list-item>
            <mat-list-item *ngIf="this.commentForm.valid"> 
                <p matLine>{{commentForm.value.comment}}</p>
                <p matLine>{{commentForm.value.rating}}</p>
                <p matLine>{{commentForm.value.author}}</p>
            </mat-list-item>
            <form novalidate (ngSubmit)="onsubmit()" #cform="ngForm" [formGroup]="commentForm">
                <p>
                    <mat-form-field class="full-width"> 
                        <input matInput formControlName="author" type="text" placeholder="Name" required>
                        <mat-error *ngIf="commentErrors.author">{{commentErrors.author}}</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-slider label="Rating" formControlName="rating" min="1" max="5" step="1" value="5" thumbLabel tickInterval="1"></mat-slider>
                </p>
                <p>
                    <mat-form-field class="full-width">
                        <textarea matInput formControlName="comment" type="text" placeholder="Comment" rows="12" required></textarea>
                        <mat-error *ngIf="commentErrors.comment">{{commentErrors.comment}}</mat-error>
                    </mat-form-field>
                </p>
                <button type="submit" mat-button class="background-primary text-floral-white" [disabled]=commentForm.invalid>Submit</button>
            </form>
        </mat-list>
    </div>
</div>

